<?xml version="1.0"?>
<launch>
  <arg name="joy_dev" default="/dev/input/js0" />
  <arg name="ip" default="192.168.0.1" />
  <arg name="port" default="3883" />
  <arg name="battery_threshold" default="3.2"/>

  <arg name="uri1" default="radio://0/80/250K/E7E7E7E701" />
  <arg name="frame1" default="/cf1" />
  <arg name="x1" default="-0.5" />
  <arg name="y1" default="0" />
  <arg name="z1" default="1" />

  <arg name="uri2" default="radio://0/80/250K/E7E7E7E702" />
  <arg name="frame2" default="/cf2" />
  <arg name="x2" default="1.2" />
  <arg name="y2" default="-0.4" />
  <arg name="z2" default="1" />

  <arg name="uri3" default="radio://0/80/250K/E7E7E7E703" />
  <arg name="frame3" default="/cf3" />
  <arg name="x3" default="1.2" />
  <arg name="y3" default="0.1" />
  <arg name="z3" default="1" />

  <arg name="uri4" default="radio://0/80/250K/E7E7E7E708" />
  <arg name="frame4" default="/cf8" />
  <arg name="x4" default="0.3875" />
  <arg name="y4" default="-0.2375" />
  <arg name="z4" default="0.75" />

  <arg name="uri5" default="radio://0/80/250K/E7E7E7E709" />
  <arg name="frame5" default="/cf9" />
  <arg name="x5" default="0.7" />
  <arg name="y5" default="-0.4" />
  <arg name="z5" default="1" />

  <arg name="yaw" default="0.0" />


  <include file="$(find crazyflie_driver)/launch/crazyflie_server.launch">
  </include>

  <node name="joy" pkg="joy" type="joy_node" output="screen">
    <param name="dev" value="$(arg joy_dev)" />
  </node>

  <!--group ns="crazyflie1">
    <include file="$(find crazyflie_driver)/launch/crazyflie_add.launch">
      <arg name="uri" value="$(arg uri1)" />
      <arg name="tf_prefix" value="crazyflie1" />
      <arg name="enable_logging" value="False" />
      <arg name="enable_logging_imu" default="False" />
      <arg name="enable_logging_temperature" default="False" />
      <arg name="enable_logging_magnetic_field" default="False" />
      <arg name="enable_logging_pressure" default="False" />
      <arg name="enable_logging_battery" default="True" />
    </include>

    <node name="joystick_controller" pkg="crazyflie_demo" type="controller.py" output="screen">
      <param name="use_crazyflie_controller" value="True" />
      <param name="joy_topic" value="/joy" />
    </node>

    <include file="$(find crazyflie_controller)/launch/crazyflie2_1.launch">
      <arg name="frame" value="$(arg frame1)" />
      <arg name="battery_threshold" default="$(arg battery_threshold)"/>
    </include>

    <node name="pose" pkg="crazyflie_demo" type="publish_pose.py" output="screen">
      <param name="name" value="goal" />
      <param name="rate" value="120" />
      <param name="x" value="$(arg x1)" />
      <param name="y" value="$(arg y1)" />
      <param name="z" value="$(arg z1)" />
    </node>
  </group-->

  <!--group ns="crazyflie2">
    <include file="$(find crazyflie_driver)/launch/crazyflie_add.launch">
      <arg name="uri" value="$(arg uri2)" />
      <arg name="tf_prefix" value="crazyflie2" />
      <arg name="enable_logging" value="False" />
      <arg name="enable_logging_imu" default="False" />
      <arg name="enable_logging_temperature" default="False" />
      <arg name="enable_logging_magnetic_field" default="False" />
      <arg name="enable_logging_pressure" default="False" />
      <arg name="enable_logging_battery" default="True" />
    </include>

    <node name="joystick_controller" pkg="crazyflie_demo" type="controller.py" output="screen">
      <param name="use_crazyflie_controller" value="True" />
      <param name="joy_topic" value="/joy" />
    </node>

    <include file="$(find crazyflie_controller)/launch/crazyflie2_2.launch">
      <arg name="frame" value="$(arg frame2)" />
      <arg name="battery_threshold" default="$(arg battery_threshold)"/>
    </include>

    <node name="pose" pkg="crazyflie_demo" type="publish_pose.py" output="screen">
      <param name="name" value="goal" />
      <param name="rate" value="120" />
      <param name="x" value="$(arg x2)" />
      <param name="y" value="$(arg y2)" />
      <param name="z" value="$(arg z2)" />
    </node>
  </group-->

  <!--group ns="crazyflie3">
    <include file="$(find crazyflie_driver)/launch/crazyflie_add.launch">
      <arg name="uri" value="$(arg uri3)" />
      <arg name="tf_prefix" value="crazyflie3" />
      <arg name="enable_logging" value="False" />
      <arg name="enable_logging_imu" default="False" />
      <arg name="enable_logging_temperature" default="False" />
      <arg name="enable_logging_magnetic_field" default="False" />
      <arg name="enable_logging_pressure" default="False" />
      <arg name="enable_logging_battery" default="True" />
    </include>

    <node name="joystick_controller" pkg="crazyflie_demo" type="controller.py" output="screen">
      <param name="use_crazyflie_controller" value="True" />
      <param name="joy_topic" value="/joy" />
    </node>

    <include file="$(find crazyflie_controller)/lauy0+ratio*(15.3-height/2+1)nch/crazyflie2_3.launch">
      <arg name="frame" value="$(arg frame3)" />
      <arg name="battery_threshold" default="$(arg battery_threshold)"/>
    </include>

    <node name="pose" pkg="crazyflie_demo" type="publish_pose.py" output="screen">
      <param name="name" value="goal" />
      <param name="rate" value="120" />
      <param name="x" value="$(arg x3)" />
      <param name="y" value="$(arg y3)" />
      <param name="z" value="$(arg z3)" />
    </node>
    <node name="pose" pkg="crazyflie_demo" type="demo1.py" output="screen">
      <param name="frame" value="$(arg frame3)" />
    </node>
  </group-->

  <group ns="crazyflie8">
    <include file="$(find crazyflie_driver)/launch/crazyflie_add.launch">
      <arg name="uri" value="$(arg uri4)" />
      <arg name="tf_prefix" value="crazyflie8" />
      <arg name="enable_logging" value="False" />
      <arg name="enable_logging_imu" default="False" />
      <arg name="enable_logging_temperature" default="False" />
      <arg name="enable_logging_magnetic_field" default="False" />
      <arg name="enable_logging_pressure" default="False" />
      <arg name="enable_logging_battery" default="True" />
    </include>

    <node name="joystick_controller" pkg="crazyflie_demo" type="controller.py" output="screen">
      <param name="use_crazyflie_controller" value="True" />
      <param name="joy_topic" value="/joy" />
    </node>

    <include file="$(find crazyflie_controller)/launch/crazyflie2_8.launch">
      <arg name="frame" value="$(arg frame4)" />
      <arg name="battery_threshold" default="$(arg battery_threshold)"/>
    </include>
 
    <node name="joy" pkg="joy" type="joy_node" output="screen">
      <param name="dev" value="$(arg joy_dev)" />
    </node>

    <node name="pose" pkg="crazyflie_demo" type="publish_pose_teleop.py" output="screen">
      <param name="name" value="goal" />
      <param name="rate" value="120" />
      <param name="x" value="$(arg x4)" />
      <param name="y" value="$(arg y4)" />
      <param name="z" value="$(arg z4)" />
    </node>
  </group>

  <group ns="crazyflie">
    <include file="$(find crazyflie_driver)/launch/crazyflie_add.launch">
      <arg name="uri" value="$(arg uri5)" />
      <arg name="tf_prefix" value="crazyflie" />
      <arg name="enable_logging" value="False" />
      <arg name="enable_logging_imu" default="False" />
      <arg name="enable_logging_temperature" default="False" />
      <arg name="enable_logging_magnetic_field" default="False" />
      <arg name="enable_logging_pressure" default="False" />
      <arg name="enable_logging_battery" default="True" />
    </include>

    <node name="joystick_controller" pkg="crazyflie_demo" type="controller.py" output="screen">
      <param name="use_crazyflie_controller" value="True" />
      <param name="joy_topic" value="/joy" />
    </node>

    <include file="$(find crazyflie_controller)/launch/crazyflie2_9.launch">
      <arg name="frame" value="$(arg frame5)" />
      <arg name="battery_threshold" default="$(arg battery_threshold)"/>
    </include>

    <!--node name="pose" pkg="crazyflie_demo" type="publish_pose.py" output="screen">
      <param name="name" value="goal" />
      <param name="rate" value="120" />
      <param name="x" value="$(arg x5)" />
      <param name="y" value="$(arg y5)" />
      <param name="z" value="$(arg z5)" />
    </node-->
  </group>

  <!--node name="pose" pkg="crazyflie_demo" type="ustc.py" output="screen">
    <param name="name" value="goal" />
    <param name="rate" value="30" />
    <param name="x" value="0.0" />
    <param name="y" value="0.0" />
    <param name="z" value="1.0" />
    <param name="csv_file" value="$(find crazyflie_demo)/scripts/ustc.csv" />
  </node-->

  
  <!-- run vrpn client -->
  <node pkg="vrpn_client_ros" type="vrpn_client_node" name="vrpn_client_node" output="screen" required="true">
    <rosparam subst_value="true">
        server: 192.168.0.1
        port: 3883

        update_frequency: 360.0
        frame_id: world

        # Use the VRPN server's time, or the client's ROS time.
        use_server_time: false
        broadcast_tf: true

        # Must either specify refresh frequency > 0.0, or a list of trackers to create
        refresh_tracker_frequency: 1.0
        trackers: cf2
        #- FirstTracker
        #- SecondTracker
    </rosparam>
  </node>

  <!--run rviz -->
  <!--param name="robot_description" command="$(find xacro)/xacro.py $(find crazyflie_description)/urdf/crazyflie.urdf.xacro" />
  <node name="rviz" pkg="rviz" type="rviz" args="-d $(find crazyflie_demo)/launch/crazyflie_pos.rviz" required="true" /-->

</launch>
