<?xml version="1.0"?>

<launch>
  <arg name="frame"/>
  <arg name="worldFrame" default="world"/>
  <arg name="battery_threshold" default="3.2"/>

  <node name="controller" pkg="crazyflie_controller" type="crazyflie_controller" output="screen">
    <param name="frame" value="$(arg frame)" />
    <param name="worldFrame" value="$(arg worldFrame)" />
    <param name="battery_threshold" value="$(arg battery_threshold)"/>
    <rosparam command="load" file="$(find crazyflie_controller)/config/crazyflie2_7.yaml" />
  </node>
</launch>
